<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App</key>
	<dict>
		<key>stubs</key>
		<dict>
			<key>main-dev</key>
			<true/>
			<key>main-loc</key>
			<false/>
			<key>main-int</key>
			<false/>
			<key>main-qa</key>
			<false/>
			<key>main-prod</key>
			<false/>
		</dict>
		<key>CHANNEL_ID</key>
		<string>910</string>
		<key>locale</key>
		<string>es_CL</string>
		<key>timezone</key>
		<string>CLT</string>
		<key>timeout</key>
		<dict>
			<key>main-dev</key>
			<integer>900</integer>
			<key>main-loc</key>
			<integer>900</integer>
			<key>main-int</key>
			<integer>900</integer>
			<key>main-qa</key>
			<integer>900</integer>
			<key>main-prod</key>
			<integer>900</integer>
		</dict>
	</dict>
	<key>Api</key>
	<dict>
		<key>scheme</key>
		<dict>
			<key>main-dev</key>
			<string>http://</string>
			<key>main-loc</key>
			<string>http://</string>
			<key>main-int</key>
			<string>http://</string>
			<key>main-qa</key>
			<string>http://</string>
			<key>main-prod</key>
			<string>http://</string>
		</dict>
		<key>timeout</key>
		<dict>
			<key>main-dev</key>
			<integer>60</integer>
			<key>main-loc</key>
			<integer>60</integer>
			<key>main-int</key>
			<integer>120</integer>
			<key>main-qa</key>
			<integer>120</integer>
			<key>main-prod</key>
			<integer>60</integer>
		</dict>
		<key>host</key>
		<dict>
			<key>main-dev</key>
			<string>dummy.restapiexample.com</string>
			<key>main-loc</key>
			<string>localhost:8080</string>
			<key>main-int</key>
			<string>dummy.restapiexample.com</string>
			<key>main-qa</key>
			<string>dummy.restapiexample.com</string>
			<key>main-prod</key>
			<string>dummy.restapiexample.com</string>
		</dict>
		<key>basePath</key>
		<dict>
			<key>main-dev</key>
			<string>/api</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/api</string>
			<key>main-qa</key>
			<string>/api</string>
			<key>main-prod</key>
			<string>/api</string>
		</dict>
		<key>branch</key>
		<dict>
			<key>main-dev</key>
			<string>/v1</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/v1</string>
			<key>main-qa</key>
			<string>/v1</string>
			<key>main-prod</key>
			<string>/v1</string>
		</dict>
	</dict>
	<key>FeatureToggle</key>
	<dict>
		<key>debugShaker</key>
		<dict>
			<key>main-dev</key>
			<false/>
			<key>main-loc</key>
			<false/>
			<key>main-int</key>
			<false/>
			<key>main-qa</key>
			<false/>
			<key>main-prod</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
